.popup__button {
  width: 358px;
  height: 50px;
  margin: 48px 0 37px;
  padding: 0;
  background: #000;
  border: 0;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media all and (max-width: 845px) {
  .popup__button {
    font-size: 16px;
    line-height: 18.5px;
    min-width: 238px;
  }
}

@media all and (max-width: 425px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    width: 84%;
  }
}

@media all and (max-width: 320px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
  }
}