.profile__text {
  padding: 0;
  border: 0;
  background: transparent;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 845px) {
  .profile__text {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}