.popup__input-error_type_place-card {
  position: absolute;
  left: auto;
  right: auto;
  top: 150px;
}

@media all and (max-width: 845px) {
  .popup__input-error_type_place-card {
    top: 151px;
  }
}

@media all and (max-width: 425px) {
  .popup__input-error_type_place-card {
    top: 149px;
  }
}

@media all and (max-width: 320px) {
  .popup__input-error_type_place-card {
    top: 155px;
  }
}