.header__text {
  text-decoration: none;
  margin: 6px 0 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  text-align: right;
  cursor: pointer;
}