.authorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 358px;
  min-width: 320px;
  width: 68.75%;
  margin: 0 auto;
  padding-top: 45px;
  box-sizing: border-box;
}