/* сторонний код */ 
@import url(./vendor/normalize.css);

/* шрифты */
@import url(./vendor/fonts/fonts.css);

/* корневые стили */
@import url(./blocks/root/root.css);

/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__text/header__text.css);
@import url(./blocks/header/__text-block/header__text-block.css);
@import url(./blocks/header/__mail/header__mail.css);
@import url(./blocks/header/__text-auth/header__text-auth.css);

/* authorization */
@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__button/login__button.css);
@import url(./blocks/authorization/__button/_inactive/authorization__button_inactive.css);
@import url(./blocks/authorization/__form/authorization__form.css);
@import url(./blocks/authorization/__heading/authorization__heading.css);
@import url(./blocks/authorization/__input/authorization__input.css);
@import url(./blocks/authorization/__button-link/authorization__button-link.css);

/* main */
@import url(./blocks/content/content.css);

/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/_task/popup_task_change-profile.css);
@import url(./blocks/popup/_task/popup_task_add.css);
@import url(./blocks/popup/_task/popup_task_img.css);
@import url(./blocks/popup/_task/popup_task_confirm-deletion.css);
@import url(./blocks/popup/_task/popup_task_update-avatar.css);
@import url(./blocks/popup/_task/popup_task_mark-ok.css);
@import url(./blocks/popup/_task/popup_task_mark-cancel.css);
@import url(./blocks/popup/__mark-image/popup__mark-image.css);
@import url(./blocks/popup/__conditional-text/popup__conditional-text.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__heading/form__heading.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_type/popup__input-error_type_name.css);
@import url(./blocks/popup/__input-error/_type/popup__input-error_type_description.css);
@import url(./blocks/popup/__input-error/_type/popup__input-error_type_link-card.css);
@import url(./blocks/popup/__input-error/_type/popup__input-error_type_place-card.css);
@import url(./blocks/popup/__input-error/_type/popup__input-error_type_link-avatar.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_inactive/popup__button_inactive.css);

/* figure */
@import url(./blocks/figure/figure.css);
@import url(./blocks/figure/__img/figure__img.css);
@import url(./blocks/figure/__caption/figure__caption.css);

/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-hover/profile__avatar-hover.css);
@import url(./blocks/profile/__profile-info/profile__profile-info.css);
@import url(./blocks/profile/__title-name/profile__title-name.css);
@import url(./blocks/profile/__button-name/profile__button-name.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/* photo */
@import url(./blocks/photo/photo.css);

/* elements */
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__img/elements__img.css);
@import url(./blocks/elements/__interaction/elements__interaction.css);
@import url(./blocks/elements/__text/elements__text.css);
@import url(./blocks/elements/__button-view/elements__button-view.css);
@import url(./blocks/elements/__like-group/elements__like-group.css);
@import url(./blocks/elements/__like-quantity/elements__like-quantity.css);
@import url(./blocks/elements/__button-delete/elements__button-delete.css);
@import url(./blocks/elements/__button-delete/_hidden/elements__button-delete_hidden.css);
@import url(./blocks/elements/__element/_active/elements__element_active.css);

/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);